<div fxLayout="column" fxFlex class="dark-theme">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Myota-wallet </span>&nbsp;
      <img src="assets/iota.svg" height="auto" width="60">      <!-- Filler that pushes the menu button to the end of the toolbar -->
      <span fxFlex></span>

      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" opened="false">

      <mat-tab-group>
        <mat-tab label="Nodes">
          <mat-nav-list>
            <mat-list-item *ngFor="let node of nodes" (click)="selectedNode = node">
              <span>{{node.host}}</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-tab>
        <mat-tab label="Settings">
          <span>Settings</span>
        </mat-tab>
      </mat-tab-group>

    </mat-sidenav>

        <router-outlet class="router-flex"></router-outlet>

 
  </mat-sidenav-container>

  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </mat-menu>

  <button mat-fab (click)="openAdminDialog()" class="fab-bottom-right">
    <mat-icon>add</mat-icon>
  </button>

</div>