<div fxLayout="column" fxFlex class="dark-theme">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Myota-wallet </span>&nbsp;
      <img src="assets/iota.svg" height="auto" width="60">      <!-- Filler that pushes the menu button to the end of the toolbar -->
      <span fxFlex></span>

      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" opened>

      <mat-tab-group>
        <mat-tab label="Users">
          <mat-nav-list>
            <mat-list-item *ngFor="let user of users" (click)="selectedUser = user">
              <mat-icon matListAvatar svgIcon="avatars:{{user.avatar}}" class="avatar"></mat-icon>
              <span>{{user.name}}</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-tab>
        <mat-tab label="Settings">
          <span>Settings</span>
        </mat-tab>
      </mat-tab-group>

    </mat-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

      <mat-card fxFlex="100">
          <img src="assets/iota.svg" height="auto" width="200" style="margin-left:42%">      <!-- Filler that pushes the menu button to the end of the toolbar -->
          <mat-card-content>
              <mat-form-field class="example-full-width" style="width:90%">
              <input matInput #box
              (keyup.enter)="update(box.value)"
              (blur)="update(box.value)" placeholder="seed">
          </mat-form-field>    <mat-chip-list *ngIf="checksum" style="float:right;">
              <mat-chip color="primary" selected="true">{{checksum}}</mat-chip>
            </mat-chip-list>

            </mat-card-content>
      </mat-card>

      <!-- <mat-card fxFlex fxLayout="column" fxLayoutGap="14px">

      </mat-card> -->

    </div>
  </mat-sidenav-container>

  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </mat-menu>

  <button mat-fab (click)="openAdminDialog()" class="fab-bottom-right">
    <mat-icon>add</mat-icon>
  </button>

</div>